#product {
    cursor: pointer;
    img.card-img-top {
        width: 100%;
        height: 130px;
        object-fit: cover;
    }
    div.card-body {
        padding: 8px;
        > h6.card-title {
            font-weight: $fw-light;
            @include font-size($fs-semi);
            margin-bottom: 6px;
        }
        > p.card-text {
            @include font-size($fs-default + 1);
            margin-bottom: 6px;
        }
        > button.btn {
            width: 100%;
        }
    }
}
